bin/Debug/AutoBackup.exe
bin/Debug/AutoBackup.exe.config
bin/Debug/AutoBackup.pdb
bin/Debug/AutoBackup.vshost.exe
bin/Debug/AutoBackup.vshost.exe.config
bin/Debug/AutoBackup.vshost.exe.manifest
bin/Debug/AutoBackup.xml
bin/Debug/konfigurasi.txt
bin/Debug/mulai.bat
bin/Release/AutoBackup.exe
bin/Release/AutoBackup.exe.config
bin/Release/AutoBackup.pdb
bin/Release/AutoBackup.vshost.exe
bin/Release/AutoBackup.vshost.exe.config
bin/Release/AutoBackup.vshost.exe.manifest
bin/Release/AutoBackup.xml
bin/Release/konfigurasi.txt
bin/Release/mulai.bat
obj/Debug/AutoBackup.exe
obj/Debug/AutoBackup.Form1.resources
obj/Debug/AutoBackup.pdb
obj/Debug/AutoBackup.Resources.resources
obj/Debug/AutoBackup.vbproj.FileListAbsolute.txt
obj/Debug/AutoBackup.vbproj.GenerateResource.Cache
obj/Debug/AutoBackup.xml
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
obj/Release/AutoBackup.exe
obj/Release/AutoBackup.Form1.resources
obj/Release/AutoBackup.pdb
obj/Release/AutoBackup.Resources.resources
obj/Release/AutoBackup.vbproj.FileListAbsolute.txt
obj/Release/AutoBackup.vbproj.GenerateResource.Cache
obj/Release/AutoBackup.xml
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/TempPE/My Project.Resources.Designer.vb.dll
